* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-layout{
  display: grid;
  grid-template-rows: 150px auto 3rem;
  grid-template-areas: 'header' 'main' 'footer';
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  min-height: 80vh;
}

.footer {
  grid-area: footer;
  background: black;
  color: #fff;
  padding: 1rem
}

#title{
  font-family: 'Merriweather', serif;
  transition: .5s ease;
}

#title:hover{
  cursor: pointer;
  transition: 1 ease;
  color:royalblue
}