@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

:root{
  --color-schemeBlue: #01a7c2;
  --color-schemeGrey: #BCAC9B;
  --color-schemeAlmond: #DDC9B4;
  --color-schemeBlack: #2A3D45;
  --color-schemePurple: #886176;
  --font-family: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*  -----/----- */

.entry-page {
  padding-top: 2rem;
  height: 100vh;
  background-color: var(--color-schemeBlack);
}

.title {
  color: var(--color-schemeAlmond);
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
}

.btn-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

/*  -----/login/----- */
/* still working on bordersleft and right */

.login-title{
  color: var(--color-schemeAlmond);
  text-align: center;
  padding-top: 5rem;
  font-family: var(--font-family);
  font-size: 80px;
}


.loginPage {
  margin: auto;
  justify-content: center;
  background-color: var(--color-schemeBlack);
  padding-bottom:32rem;

}

.form-label{
  color:var(--color-schemeAlmond)
}

.login-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  margin-bottom: 1.5rem;
}

.almondText{
  color:var(--color-schemeAlmond);
}

/*  -----/Header/----- */

.headCont{
  background-color: var(--color-schemeBlack);
}

/*  -----/Footer/----- */

.footCont{
  background-color: var(--color-schemeBlack);
}


/*  -----/tech/----- */

#techTitle{
color:var(--color-schemePurple);
font-family: var(--font-family);
font-size: 65px;
font-style: italic;

}

#addNewTechBTN{
  background-color:var(--color-schemeBlue);
  color:var(--color-schemeBlack);
  
}

.btnText{
  font-family: var(--font-family);
  font-weight: bold;
}

.techPage{
background-color: var(--color-schemeBlack);


}

/*  -----/dashboard/----- */


/*  -----/ticket/----- */


/*  -----/add-ticket/----- */




/*  -----/tech/:_id/----- */


/*  -----/add-tech/----- */



.default-layout{
  display: grid;
  grid-template-rows: 150px auto 3rem;
  grid-template-areas: 'header' 'main' 'footer';

}

.header {

  grid-area: header;
}

.main {
  grid-area: main;
  min-height: 80vh;
}

.footer {
  grid-area: footer;
  background: black;
  color: #fff;
  padding: 1rem
}

#title{
  font-family: 'Merriweather', serif;
  transition: .5s ease;
}

#title:hover{
  cursor: pointer;
  transition: 1 ease;
  color:royalblue
}


.high-priority {
  color: red;
}
.med-priority {
  color: darkgoldenrod;
}
.low-priority {
  color: green;
}





.login-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  margin-bottom: 1.5rem;
}

.message-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-history:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.message {
  padding: 1rem;
  width: 80%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.createContainer {
  text-decoration: darkorange;
}

.searchBtn {
  text-decoration: darkslategrey;
}

.ticketsContainer {
  padding-top: 50px;
  border: darkred;
  border-radius: 3px, red;
}

.statusColors1 {
  text-decoration: red;
}
.statusColors2 {
  text-decoration: blue;
}
.statusColors3 {
  text-decoration: green;
  text-shadow: green;
  text-align: justify;
}

.entry-page {
  height: 100vh;
}


.title {
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
}

.btn-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.resetPassword-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

.createContainer {
  text-decoration: darkorange;
}

.searchBtn {
  text-decoration: darkslategrey;
}

/* .ticketsContainer {
  padding-top: 50px;
  border: darkred;
  border-radius: 3px, red;
}

.statusColors1 {
  text-decoration: red;
}
.statusColors2 {
  text-decoration: blue;
}
.statusColors3 {
  text-decoration: green;
  text-shadow: green;
  text-align: justify;
} */
