@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-schemeBlue: #01a7c2;
  --color-schemeGrey: #BCAC9B;
  --color-schemeAlmond: #DDC9B4;
  --color-schemeBlack: #2A3D45;
  --color-schemePurple: #886176;
  font-family: 'Merriweather', serif;
}

/*  -----/----- */
.entry-page {
  padding-top: 2rem;
  height: 100vh;
  background-color: var(--color-schemeBlack);
}

.title {
  color: var(--color-schemeAlmond);
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
}

.btn-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
/*  -----/----- */


/*  -----/login----- */
.loginPage {
  background-color: var(--color-schemeBlack);
  color: var(--color-schemeAlmond);
  height: 100vh;
}

.login-title{
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.login-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
/*  -----/login----- */


/*  -----/Default Layout/----- */
.default-layout{
  display: grid;
  grid-template-rows: auto auto 3rem;
  grid-template-areas: 'header' 'main' 'footer';
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  min-height: 90vh;
  margin: 1rem 0;
  /* border: 1px solid red; */
}

.footer {
  grid-area: footer;
  background-color: var(--color-schemeBlack);
  color: var(--color-schemeAlmond);
  padding: 1rem;
}
/*  -----/Default Layout/----- */


/*  -----/Header/----- */
.headCont {
  background-color: var(--color-schemeBlack);
}

.logo-title {
  color: var(--color-schemeAlmond);
  font-size: 1.5rem;
  font-style: italic;
  padding: .5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px var(--color-schemeAlmond);
}

.nav-bar-text:hover {
  cursor: pointer;
  color: var(--color-schemeBlue);
  transition: color .5s ease;
}

.nav-link {
  color: var(--color-schemeAlmond)!important;
}

.nav-link.active {
  color: var(--color-schemeBlue)!important;
}
/*  -----/Header/----- */



/*  -----/dashboard/----- */
.dashBoard {
  margin: 7rem 0;
}

.graphTitle {
  padding: 1rem 0;
  color: var(--color-schemeBlack);
}
/*  -----/dashboard/----- */



/*  -----/tech/----- */
.tech-container {
  /* border: 1px solid blue; */
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
}

.tech-title {
  color: var(--color-schemeBlack);
  font-size: 2rem;
}
/*  -----/tech/----- */



/*  -----/tech item/----- */
.card {
  height: 150px;
  padding: 0.2rem;
}


.list-group-item {
  border: none!important
}

.tech-name {
  color: var(--color-schemeBlack)!important;
  font-size: 1.5rem;
  font-style: italic;
}

.tech-action{
  position:relative;
  top: -8rem;
}

.delete-btn{
  margin-right: .4rem;
}

/*  -----/tech item/----- */



/*  -----/add-tech/----- */
.addTechTitle{
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--color-schemeBlue);
}
/*  -----/add-tech/----- */



/*  -----/ticket/----- */
.ticket-container, .resolved-ticket-container {
  /* border: 1px solid blue; */
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
}

.high-priority {
  color: red!important;
}
.med-priority {
  color: darkgoldenrod!important;
}
.low-priority {
  color: green!important;
}
/*  -----/ticket/----- */



/*  -----/add-ticket/----- */




/*  -----/tech/:_id/----- */






/* .title {
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
}

.btn-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.resetPassword-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

.createContainer {
  text-decoration: darkorange;
}

.searchBtn {
  text-decoration: darkslategrey;
} */