.createContainer {
    text-decoration: darkorange;
}

.searchBtn {
    text-decoration: darkslategrey;
}

.ticketsContainer {
    padding-top: 50px;
    border: darkred;
    border-radius: 3px, red;
}

.statusColors1 {
    text-decoration: red;
}
.statusColors2 {
    text-decoration: blue;
}
.statusColors3 {
    text-decoration: green;
    text-shadow: green;
    text-align: justify;
}